<form id="new_comment" action="/beers/<%=beer.id%>/comments" method='post'>
  <input type='text' placeholder='enter comment here' name='content' />
  <input type='submit' value='Add New Comment'/>
</form>

