html {
  font-family: sans-serif;
  background-color: #F7F3E8;
}

body {
  font-size: 12px;
  color: #77BED2;
}

.beer_garden_header {
  font-size: 28px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  color: #F2583E;
}

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #F2583E;
  font-style: bold;
}

.comment_text {
  font-size: 10px;
  color: #77BED2;
  text-align: left;
}

a {
  color: #747E80;
  font-size: 12px;
}

a:visited {
  color: #2B3E42;

}

a:hover {
  color: #F2583E;
}
