<div>
  <a href='/beers/new'>Add New Beer</a>
</div>

<h2>Beers</h2>

<div>
  <ol>
  <!-- Dont make active_record calls from inside your views - they are hard to debug
  and refactor
  -->
  <% beer.each do |beer| %>
    <li><a href="/beers/<%=beer.id%>"><%=beer.category%>: <%=beer.name%></a></li>
  <% end %>
  </ol>
</div>
